.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-image: url("/images/library-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* Small devices (smartphones in portrait mode) */
@media (max-width: 480px) {
  /* Your CSS rules here */
}

/* Medium devices (smartphones in landscape mode, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Your CSS rules here */
}

/* Large devices (tablets in portrait mode, smaller laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}

/* Extra-large devices (tablets in landscape mode, standard desktops) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS rules here */
}

/* Wide screens (large desktops and high-resolution monitors) */
@media (min-width: 1281px) {
  /* Your CSS rules here */
}
