.container {
  width: 550px;
  border-radius: 10px;
  padding: 70px 0px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.92);
}

.main-text {
  margin-top: 0;
}
