.container {
  /* border: 1px solid black; */
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.188);
}
.title {
  margin-top: 0%;
  margin-bottom: 0%;
}
.authors {
  margin-top: 0%;
  margin-bottom: 6px;
}
