.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  /* border: 1px solid black; */
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: center;
}

.image {
  object-fit: contain;
  width: 80%;
}
