.container {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.266);
}
.title {
  margin-top: 0%;
  margin-bottom: 0%;
}
.authors {
  margin-top: 0%;
  margin-bottom: 6px;
}
