.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  /* border: 1px solid black; */
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: center;
}

.image {
  object-fit: contain;
  width: 80%;
}

/* Small devices (smartphones in portrait mode) */
@media (max-width: 480px) {
  /* Your CSS rules here */
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    /* border: 1px solid black; */
    grid-column: 1/-1;
    grid-row: 2/3;
    place-self: center;
    margin-top: 24px;
  }
}

/* Medium devices (smartphones in landscape mode, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Your CSS rules here */
  /* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    grid-column: 1/-1;
    grid-row: 2/3;
    place-self: center;
    margin-top: 24px;
  } */
}

/* Large devices (tablets in portrait mode, smaller laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}

/* Extra-large devices (tablets in landscape mode, standard desktops) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS rules here */
}

/* Wide screens (large desktops and high-resolution monitors) */
@media (min-width: 1281px) {
  /* Your CSS rules here */
}
