.container {
  /* border: 1px solid black; */
  grid-column: 2/-1;
  grid-row: 2/3;
}
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 40px;
}
.text {
  margin-top: 0%;
  margin-bottom: 12px;
}

.title {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 24px;
}
