.books-container {
  display: grid;
  grid-template-columns: repeat(6, 150px); /* 6 columns */
  grid-gap: 20px; /* Adjust the gap between columns */
  width: 80%; /* 80% of the screen width */
  margin: 0 auto; /* Center the container horizontally */
  justify-content: center; /* Center grid items horizontally */
}
