.disable-button {
  cursor: none;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.292);
  color: rgba(128, 128, 128, 0.718);
}

.button-container {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
}

.button-container:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.button {
  transform-origin: center center;
}
.container {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}
