.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  color: black;
  background-color: white;
}

.options {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
  background-color: white;
  padding: 8px 12px;
  text-align: center;
  line-height: normal;
  color: black;
}
.options:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.text {
  color: black;
}
/* Small devices (smartphones in portrait mode) */
@media (max-width: 480px) {
  /* Your CSS rules here */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: black;
  }
  .options {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
    background-color: white;
    padding: 8px 12px;
    text-align: center;
    line-height: normal;
    margin-bottom: 16px;
    color: black;
  }
  .text {
    margin-top: 0px;
    color: black;
    margin-bottom: 8px;
  }
}

/* Medium devices (smartphones in landscape mode, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Your CSS rules here */
}

/* Large devices (tablets in portrait mode, smaller laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}

/* Extra-large devices (tablets in landscape mode, standard desktops) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS rules here */
}

/* Wide screens (large desktops and high-resolution monitors) */
@media (min-width: 1281px) {
  /* Your CSS rules here */
}
