.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.options {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
  background-color: white;
  padding: 8px 12px;
  text-align: center;
  line-height: normal;
}
.options:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}
