.bold {
  font-weight: bold;
}
.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input-field {
  width: 40px;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.input-wrong {
  background-color: rgba(255, 0, 0, 0.273);
}

.align {
  display: flex;
  align-items: center;
}

.disable-button {
  cursor: none;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.292);
  color: rgba(128, 128, 128, 0.718);
}

.pagination-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: black;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
}

.button-container:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  transform-origin: center center;
}
/* Small devices (smartphones in portrait mode) */
@media (max-width: 480px) {
  /* Your CSS rules here */
  .pagination-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
  .top-row {
    width: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .input-field {
    width: 30px;
  }
  .button-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
}

/* Medium devices (smartphones in landscape mode, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Your CSS rules here */
  .pagination-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
  .top-row {
    width: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .input-field {
    width: 30px;
  }
  .button-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
}

/* Large devices (tablets in portrait mode, smaller laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
  .pagination-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
  }
  .top-row {
    width: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .input-field {
    width: 30px;
  }
  .button-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
  .align {
    width: 60px;
  }
}

/* Extra-large devices (tablets in landscape mode, standard desktops) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS rules here */
  .pagination-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
  }
  .top-row {
    width: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .input-field {
    width: 30px;
  }
  .button-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
  .align {
    width: 60px;
  }
}

/* Wide screens (large desktops and high-resolution monitors) */
@media (min-width: 1281px) {
  /* Your CSS rules here */
}
