.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.hidden {
  visibility: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
}

.button-container:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.button {
  transform-origin: center center;
}
