.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hidden {
  visibility: hidden;
}

.bold {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.button-container {
  display: flex;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
}

.button-container:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.button {
  transform-origin: center center;
}

/* Small devices (smartphones in portrait mode) */
@media (max-width: 480px) {
  /* Your CSS rules here */
  .button-container {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
}

/* Medium devices (smartphones in landscape mode, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Your CSS rules here */
  .button-container {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
}

/* Large devices (tablets in portrait mode, smaller laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
  .button-container {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.05s;
  }
}

/* Extra-large devices (tablets in landscape mode, standard desktops) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS rules here */
}

/* Wide screens (large desktops and high-resolution monitors) */
@media (min-width: 1281px) {
  /* Your CSS rules here */
}
