.disable-button {
  cursor: none;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.292);
  color: rgba(128, 128, 128, 0.718);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;
}

.container:hover {
  background-color: #50c878;
  border-color: #50c878;
  color: white;
}

.arrow {
  font-size: 32px;
  transform: scale(0.6, 1.2) translateY(-1.5px); /* Adjust the scaling here */
  transform-origin: center center;
  font-weight: 500;
}
